<div class="container">
    <div *ngIf="!isError" class="messageDisplay">
        <div class="row">
            <h5>Success! Congratulations on finding Falcone. King Shan is mighty pleased.1</h5>
        </div>
        <div class="row">
            Time taken: {{timeTaken}}
        </div>
        <div class="row">
            Planet found: {{planetFound}}
        </div>
    </div>
    <div *ngIf="isError" class="messageDisplay">
        <div class="row">
            <p>Failure! Could not find Falcone.</p>
        </div>
        <div class="row">
            {{errormsg ? errormsg : 'Falcone was not found'}}
        </div>
    </div>
</div>
<div class="row button">
    <button class="falcone-button" value="Find Falcone" (click)="restart()">Start Again</button>
</div>