.messageDisplay{
    text-align: center;
    margin-left: 100px;
}
.container{
    min-height: 200px;
}
.button{
    margin-left: 500px;
}
.falcone-button{
    width: 150px;
    height: 35px;
    background-color: #ffffff;
}