.planet-dropdown{
    margin-top: 10px;
}
.dropdown-box{
    width: 165px;
    border-radius: 8px;
    height: 30px;
    background-color: #cccccc;
}
.vehicle{
    margin-top: 15px;
}
.vehicle-label{
    margin-left: 10px;
}
.greyed{
    color: #cdcdcd;
}